.navbar {
  .brand, .navbar__nav {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .brand {
    font-size: 2em;
  }
  .navbar__nav {
    font-size: 1.2em;
  }
}

.navblock {
  a {
    line-height: 1.2;
  }
  .navblock__sub {
    line-height: 0.8;
  }
}

.row .row.site-footer {
  margin-top: rem-calc(36);
}
.site-footer {
  background: #333;
  color: white;

  h4 {
    color: white;
  }
  .column {
    margin-top: 1em;
  }
}

.row .row.cover-hero {
  margin-top: rem-calc(16);
}
.cover-hero {
  background: transparent url(/images/big_sky.jpg) no-repeat center center;
  min-height: rem-calc(300);
}

.row .row.page-header {
  margin-top: rem-calc(24);
}

.row .row.benefits {
  margin-top: rem-calc(36);
}
.benefits {
  .benefits__item {
    margin-top: rem-calc(24);
  }
}

.benefit-item {
  .benefit-item__icon {
    background: #333;
    color: white;
    height: 100px;
  }
  h3 {
    line-height: 1;
    margin: 0;
  }
}

.row .row.inline-cta {
  margin-top: rem-calc(24);
}

.row .row.page-explainer {
  margin-top: rem-calc(16);
}

.row .row.article-list {
  margin-top: rem-calc(24);
}
