<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMIS Utah</title>
    <meta name="description" content="Center for Minimally Invasive Surgery in Utah">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/cmis_utah/scripts/modernizr.js"></script>
    <link rel="stylesheet" href="/cmis_utah/stylesheets/app.css">
    <script src="/scripts/modernizr.js"></script>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="row">
    <div class="column small-12">

    <nav class="row navbar">
      <h2 class="column small-12 medium-6 brand"><a href="/cmis_utah/">CMIS Utah</a></h2>
      <div class="column small-4 medium-2 navbar__nav navblock">
        <a href="/cmis_utah/">
          <div>Home</div>
          <div class="navblock__sub"><small>CMIS Home Page</small></div>
        </a>
      </div>
      <div class="column small-4 medium-2 navbar__nav navblock">
        <a href="/cmis_utah/more_info/">
          <div>More Info</div>
          <div class="navblock__sub"><small>Learn more about minimally invasive surgery</small></div>
        </a>
      </div>
      <div class="column small-4 medium-2 navbar__nav navblock">
        <a href="/cmis_utah/contact/">
          <div>Contact</div>
          <div class="navblock__sub"><small>Contact us about your surgery</small></div>
        </a>
      </div>
    </nav>

    {{ content }}

    <footer class="row site-footer">
    <div class="column small-12">
      <div class="row">
        <div class="column small-12 medium-6 large-4">
          <h4>Site Map</h4>
          <ul>
            <li><a href="#">Link to page A</a></li>
            <li><a href="#">Link to Another Page</a></li>
            <li><a href="#">Very interesting article</a></li>
            <li><a href="#">Link to a video</a></li>
          </ul>
        </div>
        <div class="column small-12 medium-6 large-4">
          <ul class="vcard">
            <li class="fn">Center for Minimally Invasive Surgery in Utah</li>
            <li class="street-address">123 Colonial Ave.</li>
            <li class="locality">Caprica City</li>
            <li><span class="state">Utah</span>, <span class="zip">12345</span></li>
          </ul>
        </div>
        <div class="column small-12 large-4">
          <h4>Contact Us</h4>
          <dl>
            <dt>Email:</dt>
            <dd>info@example.com</dd>
            <dt>Phone:</dt>
            <dd>888.888.8888</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="column small-12">
          <p class="text-center">&copy; Name of Copyright Holder</p>
        </div>
      </div>
    </div>
    </footer>

    </div></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/cmis_utah/scripts/app.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
